<div style="@GetStyle()">
    <wa-icon family="@IconType.ToString().ToLower()" name="@Icon"></wa-icon>
</div>

@code {
    [Parameter]
    public required string Icon { get; set; }
    
    [Parameter]
    public FaType IconType { get; set; } = FaType.Solid;
    
    [Parameter]
    public string? OverrideColor { get; set; }
    
    
    public string GetStyle() =>  OverrideColor is not null ? $"color: {OverrideColor}" : string.Empty;
}